* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

@media (max-width: 1000px) {
    .columns {
        display: flex;
        flex-direction: column;
    }
}


body {
    background: #A3B18A;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    width: 200px;
}

.nav_links {
    list-style: none;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: #3A5A40;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #588157;
}
.navbar {
    padding-top: 100px;
}

.container_columns {
    height: 65%;
    margin: 50px 80px;
    border-radius: 20px;
}

#task_form {
    padding: 32px 32px 0;
}
#task_form input {
    padding: 12px;
    margin-right: 12px;
    width: 225px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #f3f7f8;
    font-size: 14px;
    outline: none;
}

#task_form button {
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #588157;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    padding: 24px 32px;
    height: 100%;
}

.column_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #588157;

}

.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: rgb(243, 247, 248);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 4px;
    width: 400px;
    min-height: 120px;
    flex-shrink: 0;
}

.task {
    background: white;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: move;
}

.is-dragging {
    scale: 1.05;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #A3B18A;
    color: white;
}



footer {
    padding: 50px 0;
}

.container_footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_column {
    width: 20%;
    padding: 0 15px;
}

.footer_column h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_column ul li a {
    font-size:  16px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.footer_column ul li a:hover {
    color: #588157;
    padding-left: 10px;
}

.footer_column-40 {
    width: 40%;
    padding: 0 15px;
}

.footer_column-40 h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column-40 ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_column-40 ul li a {
    font-size:  16px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}


.footer_links {
    list-style: none;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}