* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.logo {
    width: 200px;
}

.nav_links {
    list-style: none;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: #3A5A40;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #588157;
}
.navbar {
    padding-top: 150px;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #A3B18A;
}

.container{
    width: 70%;
    height: 550px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: #f3f7f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.card_header h1 {
    font-weight: 700;
    font-size: 54px;
    color: black;
}

.card_header_buttons {
    display: flex;
    justify-content: stretch;
    gap: 10px;
    padding: 4px;
}
.card_header_buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    background-color: #A3B18A;
    color: white;
}
.card_header_buttons .active {
    background-color: #588157;
}

.card_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.progress-bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar h1 {
    font-weight: 800;
    font-size: 100px;
    color: #3A5A40;
}

.card_footer {
    display: flex;
    justify-content: stretch;
    gap: 30px;
    padding: 10px;
}
.card_footer button {
    padding: 10px 30px;
    border-radius: 8px;
    border: 2px #A3B18A solid;
    background-color: white;
    color: #588157;
    font-size: 16px;
    font-weight: 700;
}


footer {
    background: #A3B18A;
    padding: 50px 100px;
}

.container_footer {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_column {
    width: 20%;
    padding: 0 15px;
}

.footer_column h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_column ul li a {
    font-size:  16px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.footer_column ul li a:hover {
    color: #588157;
    padding-left: 10px;
}

.footer_column-40 {
    width: 40%;
    padding: 0 15px;
}

.footer_column-40 h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column-40 ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer_column-40 ul li a {
    font-size:  16px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}


.footer_links {
    list-style: none;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}