nav {
    margin-top: 0cap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    width: 200px;
}

.nav_links {
    list-style: none;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: #3A5A40;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #588157;
}
.navbar{
    padding: 0%;
}


footer {
    background: #A3B18A;
    padding: 50px 0;
}

.container_footer {
    max-width: 1290px;
    margin: auto;
}

.rowf {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; */

    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    column-gap: 10px;
}

.footer_column {
    /* width: 20%; */
    padding: 0 15px;
}

.footer_column h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column ul li:not(:last-child) {
    margin-bottom: 10px;
}   

.footer_column ul li a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.footer_column ul li a:hover {
    color: #588157;
    padding-left: 10px;
}

.footer_column-40 {
    /* width: 40%; */
    padding: 0 15px;
}

.footer_column-40 h4 {
    font-size: 20px;
    color: #3A5A40;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer_column-40 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer_column-40 ul li a {
    font-size: 16px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}


.footer_links {
    list-style: none;
    padding: 0%;
    margin: 0;
}

.contacts {
    /* display: flex;
    flex-direction: row;
    gap: 10px; */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}